.search-form {
  width: 400px;
  margin: 0 auto;
}

.search-form-input {
  width: 250px;
  padding: 4px;
  margin-right: 20px;
}

.search-form-btn {
  width: 100px;
  padding: 4px;
  cursor: pointer;
}
